body {
  text-align: center;
  background-color: #011F3F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  4%;
  color: #FEF2BF;
}

#instructions-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  color: #011F3F;
  background-color: #FEF2BF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#instructions {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #FEF2BF;
  background-color: #011F3F;
  border: 2px solid #FEF2BF;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: none; /* Hidden by default */
}

.hidden {
  display: none;
}

#instructions p {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (min-width: 641px) and (max-width: 768px) {

  #level-title {
    font-size: 2.5rem;
  }
  .btn {
    height: 150px; /* Adjust button size for smaller screens */
    width: 150px;
  }
}

@media (min-width: 377px) and (max-width: 640px) {

  #instructions-button {
    font-size: 1rem;
  }
  #level-title {
    font-size: 2rem;
  }
  .btn {
    height: 100px; /* Adjust button size for smaller screens */
    width: 100px;
    margin: 15px;
  }
}

@media (max-width: 376px) {

  #instructions-button {
    font-size: 1rem;
  }
  #level-title {
    font-size: 1.5rem;
  }
  .btn {
    height: 75px; /* Adjust button size for smaller screens */
    width: 75px;
    margin: 10px;
  }
}